Jaya_Dubey.2540/Low Code Apps/Lowcode1stapp/InventoryReorderSystem_1_0_0_0/Workflows/Copyof-CheckIssuedQuantityInAutomationFlow-9ECD765C-CD04-F111-8407-6045BDEA64A3.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "jadu_sharedcommondataserviceforapps_a88bf"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "jadu_sharedoffice365_4e912"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "5b0e6126-9f27-4b70-8a30-6bd4723bb5fb"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 7,
              "subscriptionRequest/entityname": "std_partsissued",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_a_row_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "8704aecf-a929-4bed-897a-d4d1d5fb781d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "std_partses",
              "recordId": "@triggerOutputs()?['body/_std_parts_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Send_an_email_(V2)": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "5362e7eb-42c2-4ed9-89dd-d6618d0a3db8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "jaya.2540@xcelevate.org",
                  "emailMessage/Subject": "Error: Issued Quantity exceeds current stock for @{outputs('Get_a_row_by_ID')?['body/std_partname']}",
                  "emailMessage/Body": "<p>Dear User,<br>\n<br>\nThe transaction you tried to perform cannot be completed.<br>\n<strong>Issued Quantity:</strong> &nbsp;@{triggerOutputs()?['body/std_issuedquantity']}<br>\n<strong>Current Stock: &nbsp;</strong><strong>@{outputs('Get_a_row_by_ID')?['body/std_stockquantity']}</strong><strong></strong><br>\n<br>\n<strong>Error: </strong>Issued Quantity exceeds <strong>current </strong>stock. <strong>Transaction </strong>cannot be completed, Transaction <strong>Rejected.</strong><br>\n<br>\nPlease <strong>check and</strong> try again.<br>\n<br>\nRegards,<br>\n<strong>Inventory System</strong></p>",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Update_a_row_2": {
              "runAfter": {
                "Send_an_email_(V2)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ffa372f5-a33c-4191-8f26-c810daea289f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "std_partsissueds",
                  "recordId": "@triggerOutputs()?['body/std_partsissuedid']",
                  "item/std_statusofissues": 924350002
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Update_a_row": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "d370c652-a024-437b-8f37-6437caaeff3a"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateOnlyRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "std_partses",
                    "recordId": "@triggerOutputs()?['body/_std_parts_value']",
                    "item/std_stockquantity": "@sub(int(outputs('Get_a_row_by_ID')?['body/std_stockquantity']),int(triggerOutputs()?['body/std_issuedquantity']))"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "greater": [
              "@int(triggerOutputs()?['body/std_issuedquantity'])",
              "@int(outputs('Get_a_row_by_ID')?['body/std_stockquantity'])"
            ]
          },
          "metadata": {
            "operationMetadataId": "4d9f756d-d989-4c3b-a9f1-589be469cd0c"
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}